{% extends 'frontpage/base.html' %}
{% load inplace_edit %}

{% block content %} 

{% for item in about_list %}
  <div>
  <div class='container'>
    <div class='centered'>

        <img src="{{ MEDIA_URL }}{{ item.about_image }}" alt="{{ item.about_title }}" />

        <h1 class='bg-info'> {% inplace_edit "item.about_title" adaptor="tiny" %} </h1>

        <p> {% inplace_edit "item.about_story" | safe adaptor="tiny" %} </p>
        <p> {% inplace_edit "item.about_story" adaptor="tiny" %} </p>
    </div>
  </div>
  </div>
{% endfor %}

{% endblock content %} 