<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        {% load staticfiles %}
        {% load admin_urls %}
        {% load inplace_edit %}

        <title>Addition Interiors</title>
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{% static "frontpage/css/bootstrap.css" %}" />
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="{% static "frontpage/css/custom.css" %}" /> 
        {% inplace_static %}
    </head>



    <body>    

    <!-- NAVBAR
    ================================================== -->
        
        <div class="navbar-wrapper">
          <div class="container">
            <div class="navbar navbar-inverse navbar-static-top" role="navigation">
              <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="{% url 'frontpage:home' %}"> 
                        <img src="{% static "frontpage/images/Addition-Interiors-logo-small.png" %}" class="img-responsive" />
                  </a>
                </div>
                <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                    <li><a class='navlink' href="{% url 'frontpage:home' %}">Home</a></li>
                    <li><a class='navlink' href="{% url 'frontpage:relationship-list' %}">Relationships</a></li>
                    <li><a class='navlink' href="{% url 'frontpage:brand-list' %}">Brands</a></li>
                    <li><a class='navlink' href="{% url 'frontpage:about-list' %}"><span style="color:red;">Services</span></a></li>
                    
    <!-- NAVBAR DROPDOWN

                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                      </ul>
                    </li>
    ================================================== -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>




    <!-- CONTENT
    ================================================== -->
    <div>
        {% block content %} {% endblock %}
    </div>    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->            
        
    <!-- FOOTER -->
    <!-- ================================================== -->
    <div class='container'>
        <footer>
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2014 Addition Interiors &middot; <a href="{% url 'admin:index' %}">Login</a></p>
        </footer>
    </div>
    </div>

        <script src="{% static "frontpage/js/jquery-2.1.0.min.js" %}"></script>
        <script src="{% static "frontpage/js/bootstrap.min.js" %}"></script>
        <script src="{% static "frontpage/js/holder.js" %}"></script>
        {% inplace_static %}
    </body>

</html>
 