
{% block sms %}
      
    {% if errors %}
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
  
    <form action="" method="post">
    {% csrf_token %}
        <input type="text" name="subject" placeholder="I want a free estimate...">
        <p></p>
        <input type="text" name="email" placeholder="email address (optional)">
        <p></p>
        <textarea name="message" placeholder="send me a text message..."></textarea>
        <br />
        <input type="submit" value="Submit">
    </form>

{% endblock %}